body {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('./assets/img/base_background.jpg');
  background-color: #686a68;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.home-page-grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto auto auto auto;
}

.home-header-grid {
  display: grid;
}

.home-image-grid {
  display: grid;
}

.home-image-grid img {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  max-height: 150px;
  border-radius: 8px;
  margin: auto;
}

.home-bio-grid {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  background-color: lightgray;
  opacity: .75;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 8px;
}

.main-menu-grid {
  background-color: lightgray;
  opacity: .75;
  border-radius: 8px;
  padding: 8px;
  display: grid;
  grid-column: 2;
  grid-row: 2;
}

.color-services-table-row, .haircut-and-finishes-table-row {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.contact-owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.contact-owner-information {
  text-align: left;
  padding: 20px;
}

.home-footer-grid {
  display: grid;
  grid-column: 2;
  grid-row: 3;
}

@media (max-width: 768px) {
body {
  padding: 0px;
}
.home-page-grid {
  grid-template-columns: 1fr;
}
.home-image-grid {
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 8px;
}

.home-bio-grid {
  grid-row: 2;
}

.main-menu-grid {
  grid-row: 3;
}

.home-footer-grid {
  grid-row: 4;
}

.main-menu {
  width: 80%;
}

.contact-owner {
  flex-direction: column;
}

.contact-owner-information {
  padding: 0px
}
}
