body {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('./assets/img/base_background.jpg');
  background-color: #686a68;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.home-header {
  display: flex;
  flex0-direction: row;
  align-items: center;
  justify-content: center;
}

.home-image img {
  max-height: 150px;
  border-radius: 8px;
}

.home-bio {
  background-color: lightgray;
  opacity: .75;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
}

.main-menu { 
  background-color: lightgray;
  opacity: .75;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

.color-services-table-row, .haircut-and-finishes-table-row {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  alignItems: center
}

@media (max-width: 768px) {
.home-header {
  flex-direction: column;
}

.main-menu {
  width: 80%;
}
}
