@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');

#root {
    font-family: "Baskervville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}